/* adding colour to my topnav */
.topnav {
  background-color: #cd81f3;
  overflow: auto;
  justify-content: center; /* Centers items horizontally */
  align-items: center;    /* Centers items vertically */
}

/* links inside the top nav style */
.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffacfb;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ddbac4;
  color: white;
}

