/* adding colour to my topnav */
.topnav {
  background-color: #cd81f3;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* links inside the top nav style */
.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffacfb;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ddbac4;
  color: white;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* makes links go in a row */
}
